/* Utils */
@import './utils/vars';
@import './utils/normalize';
@import './utils/visually-hidden';
@import './utils/mixins';

/* Base styles*/
@import './base/common';
@import './base/reset';
@import './base/container';
@import './base/js-selectors';

/* Components */
@import './components/btn';
@import './components/menu';
@import './components/title';
@import './components/modal';
@import './components/modal-mobile';
@import './components/modal-franchise';

/* layuots */
@import './layouts/header';
@import './layouts/hero';
@import './layouts/products';
@import './layouts/about';
@import './layouts/advantages';
@import './layouts/gallery';
@import './layouts/customer-reviews';
@import './layouts/—Åontacts';
@import './layouts/footer';
