<section class="section advantages-section">
    <div class="container advantages-container">
        <h2 class="section-title advantages-title visually-hidden">
            Ice-cream advantages: facts in numbers</h2>
    </div>
    <ul class="advantages-list">
        <li class="advantagelistem">
             <div class="advantages-item__icon">
             </div>
             <div class="advantages-item__meta">
                 <h3 class="advantages-list__h3-like">721</h3>
                 <p class="advantages-list__p-like">
                     Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                </p>
             </div>
        </li>
        <li class="advantagelistem">
             <div class="advantages-item__icon">
             </div>
             <div class="advantages-item__meta">
                 <h3 class="advantages-list__h3-like">16kg</h3>
                 <p class="advantages-list__p-like">
                    Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                 </p>
             </div>
        </li>
        <li class="advantages-item">
             <div class="advantages-item__icon">
             </div>
             <div class="advantages-item__meta">
                 <h3 class="advantages-list__h3-like">84</h3>
                 <p class="advantages-list-__p-like">
                    Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                 </p>
             </div>
        </li>
    </ul>
</section>