<section class="section advantages-section">
    <div class="container advantages-container">
        <h2 class="section-title advantages-title visually-hidden">
            Ice-cream advantages: facts in numbers</h2>
    <ul class="advantages-list">
        <li class="advantages-item">
             
                <p class="advantages-list__p-like advantages-list__p-like-cow-check"> 
                <span class="advantages-list__h3-like">
                     721</span>
                     Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                </p>
        </li>
        <li class="advantages-item">
            
                <p class="advantages-list__p-like advantages-list__p-like-appels">
                 <span class="advantages-list__h3-like">
                     16kg</span>
                    Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                 </p>
            
        </li>
        <li class="advantages-item">
            
                <p class="advantages-list__p-like advantages-list__p-like-heard"> 
                <span class="advantages-list__h3-like">
                     84</span>
                    Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
                 </p>
            
        </li>
    </ul>
</div>
</section>