<section class="customer container">
  <h2 class="customer__title">Отзывы</h2>
  <article class="swiper">
    <h3 class="customer__title">Отзывы</h3>
    <div class="customer__madia">
      <div class="img customer__img">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              ./images/customer/testimonials1_lg.jpg   1x,
              ./images/customer/testimonials@2x_lg.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/customer/testimonials1_md.jpg   1x,
              ./images/customer/testimonials@2x_md.jpg 2x
            "
            type="image/jpg"
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./images/customer/testimonials1_sm.jpg   1x,
              ./images/customer/testimonials@2x_sm.jpg 2x
            "
            type="image/jpg"
          />
          <img
            src="./images/customer/testimonials1_sm.jpg"
            alt="фото"
            loading="lazy"
          />
        </picture>
      </div>
      <div class="customer__text">
        <p class="customer__text--style">
          A pleasant store, a large assortment of delicious ice cream, managers
          are real professionals !!! O,special thanks to the consultant for the
          help, as well as for a small gift :)
        </p>
      </div>
    </div>
    <div class="customer__icon">
      <p class="customer__icon-name">Emily, Los Angeles</p>
      <div class="customer__icon__svg">
        <ul class="customer__icon--page">
          <li class="customer__link">
            <svg class="icon" width="12" height="12">
              <use
                href="./images/customer/cust_spritesvg/symbol-defs.svg#icon-house"
              ></use>
            </svg>
          </li>
          <li class="customer__link">
            <svg class="icon" width="12" height="12">
              <use
                href="./images/customer/cust_spritesvg/symbol-defs.svg#icon-Ellipse-7"
              ></use>
            </svg>
          </li>
          <li class="customer__link">
            <svg class="icon" width="12" height="12">
              <use
                href="./images/customer/cust_spritesvg/symbol-defs.svg#icon-Ellipse-8"
              ></use>
            </svg>
          </li>
        </ul>
      </div>
    </div>
  </article>
</section>
