<section class="gallery container">
  <div class="gallery__store">
    <h2 class="visually-hidden gallery__title">Pictures of our ice cream</h2>
    <div class="gallary__grid">
      <div class="gallery__container gallery__container--1">
        <div class="gallery__box gallery__box--1">
          <picture>
            <source
              media="(min-width: 320px)"
              srcset="
                ./images/gallery/home-pic5_5_320_@1x.webp 1x,
                ./images/gallery/home-pic5_5_320_@2x.webp 2x,
                ./images/gallery/home-pic5_5_320_@3x.webp 3x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 320px)"
              srcset="
                ./images/gallery/home-pic5_5_320_@1x.jpg 1x,
                ./images/gallery/home-pic5_5_320_@2x.jpg 2x,
                ./images/gallery/home-pic5_5_320_@3x.jpg 3x
              "
              type="image/jpg"
            />
            <img
              class="gallary__img"
              src="./images/gallery/home-pic5_5_320_@1x.jpg"
              alt="Ice-cream"
              width="44"
              height="44"
              loading="lazy"
            />
          </picture>
        </div>
      </div>
      <div class="gallery__container gallery__container--2">
        <div class="gallery__box gallery__box--2 gallery__box--bottom">
          <picture>
            <source
              media="(min-width: 320px)"
              srcset="
                ./images/gallery/home-pic5_4_320_@1x.webp 1x,
                ./images/gallery/home-pic5_4_320_@2x.webp 2x,
                ./images/gallery/home-pic5_4_320_@3x.webp 3x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 320px)"
              srcset="
                ./images/gallery/home-pic5_4_320_@1x.jpg 1x,
                ./images/gallery/home-pic5_4_320_@2x.jpg 2x,
                ./images/gallery/home-pic5_4_320_@3x.jpg 3x
              "
              type="image/jpg"
            />
            <img
              class="gallary__img"
              src="./images/gallery/home-pic5_4_320_@1x.jpg"
              alt="Ice-cream"
              width="44"
              height="44"
              loading="lazy"
            />
          </picture>
        </div>
        <div class="gallery__box gallery__box--3">
          <picture>
            <source
              media="(min-width: 320px)"
              srcset="
                ./images/gallery/home-pic5_6_320_@1x.webp 1x,
                ./images/gallery/home-pic5_6_320_@2x.webp 2x,
                ./images/gallery/home-pic5_6_320_@3x.webp 3x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 320px)"
              srcset="
                ./images/gallery/home-pic5_6_320_@1x.jpg 1x,
                ./images/gallery/home-pic5_6_320_@2x.jpg 2x,
                ./images/gallery/home-pic5_6_320_@3x.jpg 3x
              "
              type="image/jpg"
            />
            <img
              class="gallary__img"
              src="./images/gallery/home-pic5_6_320_@1x.jpg"
              alt="Ice-cream"
              width="44"
              height="44"
              loading="lazy"
            />
          </picture>
        </div>
      </div>
      <div class="gallery__container gallery__container--3">
        <div class="gallery__box gallery__box--4 gallery__box--bottom">
          <picture>
            <source
              media="(min-width: 320px)"
              srcset="
                ./images/gallery/home-pic5_1_320_@1x.webp 1x,
                ./images/gallery/home-pic5_1_320_@2x.webp 2x,
                ./images/gallery/home-pic5_1_320_@3x.webp 3x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 320px)"
              srcset="
                ./images/gallery/home-pic5_1_320_@1x.jpg 1x,
                ./images/gallery/home-pic5_1_320_@2x.jpg 2x,
                ./images/gallery/home-pic5_1_320_@3x.jpg 3x
              "
              type="image/jpg"
            />
            <img
              class="gallary__img"
              src="./images/gallery/home-pic5_1_320_@1x.jpg"
              alt="Ice-cream"
              width="90"
              height="90"
              loading="lazy"
            />
          </picture>
        </div>
        <div class="gallery__box gallery__box--5">
          <picture>
            <source
              media="(min-width: 320px)"
              srcset="
                ./images/gallery/home-pic5_7_320_@1x.webp 1x,
                ./images/gallery/home-pic5_7_320_@2x.webp 2x,
                ./images/gallery/home-pic5_7_320_@3x.webp 3x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 320px)"
              srcset="
                ./images/gallery/home-pic5_7_320_@1x.jpg 1x,
                ./images/gallery/home-pic5_7_320_@2x.jpg 2x,
                ./images/gallery/home-pic5_7_320_@3x.jpg 3x
              "
              type="image/jpg"
            />
            <img
              class="gallary__img"
              src="./images/gallery/home-pic5_7_320_@1x.jpg"
              alt="Ice-cream"
              width="44"
              height="44"
              loading="lazy"
            />
          </picture>
        </div>
      </div>
      <div class="gallery__container gallery__container--4">
        <div class="gallery__box gallery__box--6 gallery__box--bottom">
          <picture>
            <source
              media="(min-width: 320px)"
              srcset="
                ./images/gallery/home-pic5_9_320_@1x.webp 1x,
                ./images/gallery/home-pic5_9_320_@2x.webp 2x,
                ./images/gallery/home-pic5_9_320_@3x.webp 3x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 320px)"
              srcset="
                ./images/gallery/home-pic5_9_320_@1x.jpg 1x,
                ./images/gallery/home-pic5_9_320_@2x.jpg 2x,
                ./images/gallery/home-pic5_9_320_@3x.jpg 3x
              "
              type="image/jpg"
            />
            <img
              class="gallary__img"
              src="./images/gallery/home-pic5_9_320_@1x.jpg"
              alt="Ice-cream"
              width="44"
              height="44"
              loading="lazy"
            />
          </picture>
        </div>
        <div class="gallery__box gallery__box--7">
          <picture>
            <source
              media="(min-width: 320px)"
              srcset="
                ./images/gallery/home-pic5_8_320_@1x.webp 1x,
                ./images/gallery/home-pic5_8_320_@2x.webp 2x,
                ./images/gallery/home-pic5_8_320_@3x.webp 3x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 320px)"
              srcset="
                ./images/gallery/home-pic5_8_320_@1x.jpg 1x,
                ./images/gallery/home-pic5_8_320_@2x.jpg 2x,
                ./images/gallery/home-pic5_8_320_@3x.jpg 3x
              "
              type="image/jpg"
            />
            <img
              class="gallary__img"
              src="./images/gallery/home-pic5_8_320_@1x.jpg"
              alt="Ice-cream"
              width="44"
              height="44"
              loading="lazy"
            />
          </picture>
        </div>
      </div>
      <div class="gallery__container gallery__container--5">
        <div class="gallery__box gallery__box--8 gallery__box--bottom">
          <picture>
            <source
              media="(min-width: 320px)"
              srcset="
                ./images/gallery/home-pic5_10_320_@1x.webp 1x,
                ./images/gallery/home-pic5_10_320_@2x.webp 2x,
                ./images/gallery/home-pic5_10_320_@3x.webp 3x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 320px)"
              srcset="
                ./images/gallery/home-pic5_10_320_@1x.jpg 1x,
                ./images/gallery/home-pic5_10_320_@2x.jpg 2x,
                ./images/gallery/home-pic5_10_320_@3x.jpg 3x
              "
              type="image/jpg"
            />
            <img
              class="gallary__img"
              src="./images/gallery/home-pic5_10_320_@1x.jpg"
              alt="Ice-cream"
              width="44"
              height="44"
              loading="lazy"
            />
          </picture>
        </div>
        <div class="gallery__box gallery__box--9">
          <picture>
            <source
              media="(min-width: 320px)"
              srcset="
                ./images/gallery/home-pic5_12_320_@1x.webp 1x,
                ./images/gallery/home-pic5_12_320_@2x.webp 2x,
                ./images/gallery/home-pic5_12_320_@3x.webp 3x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 320px)"
              srcset="
                ./images/gallery/home-pic5_12_320_@1x.jpg 1x,
                ./images/gallery/home-pic5_12_320_@2x.jpg 2x,
                ./images/gallery/home-pic5_12_320_@3x.jpg 3x
              "
              type="image/jpg"
            />
            <img
              class="gallary__img"
              src="./images/gallery/home-pic5_12_320_@1x.jpg"
              alt="Ice-cream"
              width="44"
              height="44"
              loading="lazy"
            />
          </picture>
        </div>
      </div>
      <div class="gallery__container gallery__container--6">
        <div class="gallery__box gallery__box--10">
          <picture>
            <source
              media="(min-width: 320px)"
              srcset="
                ./images/gallery/home-pic5_11_320_@1x.webp 1x,
                ./images/gallery/home-pic5_11_320_@2x.webp 2x,
                ./images/gallery/home-pic5_11_320_@3x.webp 3x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 320px)"
              srcset="
                ./images/gallery/home-pic5_11_320_@1x.jpg 1x,
                ./images/gallery/home-pic5_11_320_@2x.jpg 2x,
                ./images/gallery/home-pic5_11_320_@3x.jpg 3x
              "
              type="image/jpg"
            />
            <img
              class="gallary__img"
              src="./images/gallery/home-pic5_11_320_@1x.jpg"
              alt="Ice-cream"
              width="44"
              height="44"
              loading="lazy"
            />
          </picture>
        </div>
      </div>
    </div>
    <div class="gallery__card">
      <div class="gallery__circle"></div>
      <picture>
        <source
          media="(min-width: 320px)"
          srcset="
            ./images/header/mobail/ice-mb.png    1x,
            ./images/header/mobail/ice-mb@2x.png 2x
          "
          type="image/png"
        />
        <img class="gallery__png" src="./images/header/mobail/ice-mb.png"
        alt="Ice-cream" width: 50; height: 120; loading="lazy" />
      </picture>
      <p class="gallery__card-text">Taste heavenly on earth!</p>
    </div>
  </div>
</section>
