<header>
    <h1>Ice Cream</h5>
</header>
<!-- secrion HERO -->
<div class="header__hero hero">
    <div class="container">
        <div class="hero__wrapper">
            <h1 class="hero__title">
                ice cream made with
                <span class="hero__title hero__title--big">passion</span> 
            </h1>
            
            <ul class="hero__list">
                <li class="hero__item"><a href="" class="hero__link">Products</a></li>
                <li class="hero__item"><a href="" class="hero__link hero__link--white">How it’s made?</a></li>
            </ul>
            <picture>
                <img src="" alt="">
            </picture>
            <picture>
                <img src="" alt="">
            </picture>
        </div>
    </div>
</div>