<header class="header" id="header">
  <div class="header__container">
    <nav class="nav">
      <a class="header__logo-link" aria-label="logotype" href="./index.html">
        <img
          class="logo__img"
          src="./images/header/logo-group.svg"
          alt="logotype"
          width="199"
          height="50"
        />
      </a>

      <ul class="header__nav">
        <li class="header__nav-link"><a class="" href="#header"></a>Home</li>
        <li class="header__nav-link"><a class="" href="#about"></a>About us</li>
        <li class="header__nav-link">
          <a class="" href="#how"></a>How it’s made?
        </li>
        <li class="header__nav-link">
          <a class="" href="#products"></a>Our products
        </li>
        <li class="header__nav-link">
          <a class="" href="#contact"></a>Contact
        </li>
      </ul>

      <button
        class="burger__button js-open-menu"
        type="button"
        aria-expanded="false"
        aria-controls="mobile-menu"
      >
        <svg class="burger__button" width="20px" height="14px">
          <use
            href="./images/header/header-sprite.svg#icon-header_burger"
          ></use>
        </svg>
      </button>
    </nav>

    <button
      class="mobile-menu__buy-btn mobile-hidden mobile-menu__buy-btn_hero"
    >
      Buy now
      <svg class="menu-button__arrow" width="10px" height="16px">
        <use
          href="./images/header/header-sprite.svg#icon-menu_arrow_button"
        ></use>
      </svg>
    </button>
  </div>
</header>
