<!-- secrion HERO -->
<div class="header__hero hero">
    <div class="container">
      <div class="hero__wrapper">
          <div class="hero__content">
            <h1 class="hero__title">
              ice cream made with
              <span class="hero__title hero__title--big">passion</span>
            </h1>
  
            <ul class="hero__list">
              <li class="hero__item">
                <a href="#prodacts.html" class="hero__link">Products</a>
              </li>
              <li class="hero__item">
                <a href="#about.html" class="hero__link hero__link--white">How it’s made?</a>
              </li>
            </ul>
          </div>
          <div class="hero__eclipse">
            <picture>
              <source media="(min-width: 768px)" sizes="(max-width: 143px) 143px, 100vw" srcset="
                ./images/header/tablet/ice-tb.png 1x,
                ./images/header/tablet/ice-tb@2x.png 2x
              " type="image/png" />
              <source media="(min-width: 320px)" sizes="(max-width: 171px) 171px, 100vw" srcset="
                ./images/header/mobail/ice-mb.png 1x,
                ./images/header/mobail/ice-mb@2x.png 2x
              " type="image/png" />
              <img class="hero__images hero__images--ice" src="./images/header/mobail/ice-mb.png" alt="ice" width="171"
                height="410" />
            </picture>
          </div>
          <div class="hero__store-branches store">
            <div class="store__block">
              <span>16</span>
              <p>cafes</p>
            </div>
            <div class="store__block store__block--trucks">
              <span>23</span>
              <p>food trucks</p>
            </div>
          </div>
        </div>
      </div>
    </div>