<div class="mobile-menu js-menu-container" id="mobile-menu">
  <div class="menu-toggle__wrapper">
    <button
      class="menu-toggle js-close-menu"
      type="button"
      aria-expanded="false"
      aria-controls="mobile-menu"
    >
      <svg class="menu-toggle" width="20px" height="20px">
        <use href="./images/header/header-sprite.svg#icon-menu_close"></use>
      </svg>
    </button>
  </div>
  <button class="mobile-menu__buy-btn mobile-menu__buy-btn_menu">
    Buy now
    <svg class="menu-button__arrow" width="10px" height="16px">
      <use
        href="./images/header/header-sprite.svg#icon-menu_arrow_button"
      ></use>
    </svg>
  </button>

  <ul class="mobile-menu__nav">
    <li class="mobile-menu__item">
      <a class="mobile-menu__link" href="#header">Home</a>
    </li>
    <li class="mobile-menu__item">
      <a class="mobile-menu__link" href="#about">About us</a>
    </li>
    <li class="mobile-menu__item">
      <a class="mobile-menu__link" href="#how">How it’s made?</a>
    </li>
    <li class="mobile-menu__item">
      <a class="mobile-menu__link" href="#products">Our products</a>
    </li>
    <li class="mobile-menu__item">
      <a class="mobile-menu__link" href="#contact">Contact</a>
    </li>
  </ul>
</div>
