<div class="mobile-menu js-menu-container" id="mobile-menu">
  <div class="menu-toggle__wrapper">
  <button 
      class="menu-toggle js-close-menu"
        type="button"
        aria-expanded="false"
        aria-controls="mobile-menu">
        <img
          class="logo__img"
          src="./images/svg/close.svg"
          alt="logotype"
          width="20"
          height="12"
        />
        </svg>
      </button>
    </div>
  <button class="mobile-menu__buy-btn">Buy now</button>
  <ul class="mobile-menu__nav">
      <li class="mobile-menu__item"> <a class="mobile-menu__link" href=""></a>Home</li>
      <li class="mobile-menu__item"> <a class="mobile-menu__link" href=""></a>About us</li>
      <li class="mobile-menu__item"> <a class="mobile-menu__link" href=""></a>How it’s made?</li>
      <li class="mobile-menu__item"> <a class="mobile-menu__link" href=""></a>Our products</li>
      <li class="mobile-menu__item"> <a class="mobile-menu__link" href=""></a>Contact</li>
      
  </ul>
</div>