<div class="mobile-menu js-menu-container" id="mobile-menu">
  <div class="menu-toggle__wrapper">
  <button 
      class="menu-toggle js-close-menu"
        type="button"
        aria-expanded="false"
        aria-controls="mobile-menu">
        <svg class="menu-toggle" width="20px" height="20px">
          <use href="./images/header/header-sprite.svg#menu_close_btn"></use>
        </svg>
      </button>
    </div>
  <button class="mobile-menu__buy-btn">Buy now
    <svg class="menu-button__arrow" width="10px" height="16px">
      <use href="./images/header/header-sprite.svg#arrow_button_menu"></use>
    </svg>
  </button>
  
  <ul class="mobile-menu__nav">
      <li class="mobile-menu__item"> <a class="mobile-menu__link" href=""></a>Home</li>
      <li class="mobile-menu__item"> <a class="mobile-menu__link" href=""></a>About us</li>
      <li class="mobile-menu__item"> <a class="mobile-menu__link" href=""></a>How it’s made?</li>
      <li class="mobile-menu__item"> <a class="mobile-menu__link" href=""></a>Our products</li>
      <li class="mobile-menu__item"> <a class="mobile-menu__link" href=""></a>Contact</li>
      
  </ul>
</div>