<div class="backdrop is-hidden" data-modal7>
    <div class="modal">
        <button class="modal__btn" data-modal-close7>
            <svg class="modal__icon-close" width="18" height="18">
                <use href="./images/products/svg/products.svg#icon-close-modal"></use>
            </svg>
        </button>

        <strong class="modal__title">Please take a second to test</strong>
        <form class="modal-form">
            <label class="modal-form__field">
                <span class="modal-form__label">Name</span>                
                    <input class="modal-form__input" type="text" name="user-name2" id="user-name2">
                    <svg class="modal-form__icon" width="18" height="18">
                        <use href="./images/products/svg/products.svg#icon-user"></use>
                    </svg>              
                </label>

            <label class="modal-form__field">
                <span class="modal-form__label">Phone</span>               
                    <input class="modal-form__input" type="tel" name="user-phone2" id="user-phone2">
                    <svg class="modal-form__icon" width="18" height="18">
                        <use href="./images/products/svg/products.svg#icon-phone"></use>
                    </svg>                
            </label>

            <div class="modal-form__thumb">
                <label class="modal-form__field">
                    <span class="modal-form__label">Choose your Products</span>
                    <select class="modal-form__input modal-form__input--product" name="Products">
                        <optgroup class="modal-form__optgroup" label="Ice Cream">
                            <option class="modal-form__option" value="s1">Black Raspberry</option>
                            <option class="modal-form__option" value="s2">Chocolate</option>
                            <option class="modal-form__option" value="s3">French Vanilla</option>
                            <option class="modal-form__option" value="s4">Rose Pistachio</option>
                            <option class="modal-form__option" value="s5">Oreo Latte</option>
                        </optgroup>

                        <optgroup class="modal-form__optgroup" label="Ice Coffee">
                            <option class="modal-form__option" value="s6">Cold Brew</option>
                            <option class="modal-form__option" value="s7">Iced Mocha</option>
                            <option class="modal-form__option" value="s8">Iced Latte</option>
                            <option class="modal-form__option" value="s9">Yogurt Coffee</option>
                            <option class="modal-form__option" value="s10">Greek Frappe</option>
                        <optgroup class="modal-form__optgroup" label="ilkshakes">
                            <option class="modal-form__option" value="s11">Strawberry Shake</option>
                            <option class="modal-form__option" value="s12">Vanilla Shake</option>
                            <option class="modal-form__option" value="s13">Choco Mint Shake</option>
                            <option class="modal-form__option" value="s14">Nutella Shake</option>
                            <option class="modal-form__option" value="s15">Mango Milkshake</option>
                    </select>
                </label>

                <label class="modal-form__field">
                    <span class="modal-form__label modal-form__label--quantiti">Quantity</span>
                    <input class="modal-form__input modal-form__input--quantiti" type="number" name="weight" min="1"
                        max="20" step="1" value="1" />
                </label>
            </div>



            <label class="modal-form__textarea">
                <span class="modal-form__label">Any request?</span>
                <textarea class="modal-form__comment" name="comment" rows="5"
                    placeholder="Type your message here..."></textarea>
            </label>

            <p class="modal-form__label modal-form__label--payment">Payment Method</p>
            <div class="modal-form__pay-type">
                <label class="modal-form__pay-group">
                    <input class="modal-form__pay-checkbox visually-hidden" type="radio" name="user-pay" checked />
                    <svg class="modal-form__pay-option" width="50" height="33">
                        <use href="./images/products/svg/products.svg#icon-visa"></use>
                    </svg>
                </label>

                <label class="modal-form__pay-group">
                    <input class="modal-form__pay-checkbox visually-hidden" type="radio" name="user-pay" />
                    <svg class="modal-form__pay-option" width="50" height="33">
                        <use href="./images/products/svg/products.svg#icon-mastercard"></use>
                    </svg>
                </label>
            </div>


            <label class="modal-form__policy-group">
                <input class="modal-form__checkbox" type="checkbox" />
                <span class="modal-form__custom-checkbox">
                    <svg class="modal-form__custom-checkbox-icon" width="16" height="15">
                        <use href="./images/products/svg/products.svg#icon-check"></use>
                    </svg>
                </span>
                <span class="modal-form__checkbox-description">Agree with <a class="modal-form__policy" href="">The Privacy
                        Policy</a></span>
            </label>            
            <button class="modal-form__btn modal-form__btn--checkout" type="submit">Checkout</button>                 

        </form>
    </div>
</div>2