<div class="backdrop is-hidden" data-modal8>
    <div class="modal">
        <button class="modal__btn" data-modal-close8>
            <svg class="modal__icon-close" width="18" height="18">
                <use href="./images/products/svg/products.svg#icon-close-modal"></use>
            </svg>
        </button>
        <strong class="modal__title">Our Location</strong>
        <form class="modal-form">
            <div class="map-frame">
                <img src="./images/contacts/map2.jpg" alt="map frame">
            </div>
            <div class="modal-form__field-btn">
                <a class="modal-form__link" href="https://www.google.com/maps/place/%D0%A5%D0%BE%D0%BB%D0%BB+%D0%9F%D0%BB%D0%B0%D0%B7%D0%B0/@41.9325311,-87.7433172,20z/data=!4m8!1m2!2m1!1z0KfQuNC60LDQs9C-LCDQmNC70LvQuNC90L7QudGBLCDQodCo0JAgaWNlIGNyZWFt!3m4!1s0x880fccfbcdbefc67:0x95becfc0c0c5748f!8m2!3d41.9326254!4d-87.7430627" target="_blank">Google Maps</a> 
            </div>
        </form>
    </div>
</div>