<section class="section-products" id="products">
    <div class="container">
        <p class="section-products__label">100% natural</p>
        <h2 class="section-products__title">products</h2>
        <ul class="list products">
            <li class="products__item products__item--cream">
                <h3 class="products__title">ice cream</h3>
                <p class="products__text">
                    Luxury ice cream from the farm. Bursting with flavour and made from real, simple ingredients.
                </p>
                <button class="products__button" type="button" data-modal-open4>
                    <svg class="products__icon" width="15" height="15">
                        <use href="./images/products/svg/products.svg#icon-right"></use>
                    </svg>
                </button>
                <div class="price price--cream is-hidden" data-modal4>
                    <h4 class="price__title">price list</h4>
                    <ul class="price__list">
                        <li class="price__item">
                            <span>Black Raspberry</span>
                            <span>3$</span>
                        </li>
                        <li class="price__item">
                            <span>Chocolate</span>
                            <span>3$</span>
                        </li>
                        <li class="price__item">
                            <span>French Vanilla</span>
                            <span>3$</span>
                        </li>
                        <li class="price__item">
                            <span>Rose Pistachio</span>
                            <span>4$</span>
                        </li>
                        <li class="price__item">
                            <span>Oreo Latte</span>
                            <span>4$</span>
                        </li>
                    </ul>
                    <button class="price__button products__button" type="button" data-modal-close4>
                        <svg class="products__icon" width="15" height="15">
                            <use href="./images/products/svg/products.svg#icon-left"></use>
                        </svg>
                    </button>
                </div>
            </li>
            <li class="products__item products__item--coffee">
                <h3 class="products__title">ice coffee</h3>
                <p class="products__text">
                    When it comes to the best cold drinks, you can choose from our great range of iced coffees.
                </p>
                <button class="products__button" type="button" data-modal-open2>
                    <svg class="products__icon" width="15" height="15">
                        <use href="./images/products/svg/products.svg#icon-right"></use>
                    </svg>
                </button>
                <div class="price price--coffee is-hidden2" data-modal2>
                    <h4 class="price__title">price list</h4>
                    <ul class="price__list">
                        <li class="price__item">
                            <span>Cold Brew</span>
                            <span>4$</span>
                        </li>
                        <li class="price__item">
                            <span>Iced Mocha</span>
                            <span>5$</span>
                        </li>
                        <li class="price__item">
                            <span>Iced Latte</span>
                            <span>5$</span>
                        </li>
                        <li class="price__item">
                            <span>Yogurt Coffee</span>
                            <span>6$</span>
                        </li>
                        <li class="price__item">
                            <span>Greek Frappe</span>
                            <span>6$</span>
                        </li>
                    </ul>
                    <button class="price__button products__button" type="button" data-modal-close2>
                        <svg class="products__icon" width="15" height="15">
                            <use href="./images/products/svg/products.svg#icon-left"></use>
                        </svg>
                    </button>
                </div>

            </li>
            <li class="products__item products__item--milk">
                <h3 class="products__title">milkshakes</h3>
                <p class="products__text">
                    Delicious blend of rich ice cream, whole milk, and favourites toppings.
                </p>
                <button class="products__button" type="button" data-modal-open3>
                    <svg class="products__icon" width="15" height="15">
                        <use href="./images/products/svg/products.svg#icon-right"></use>
                    </svg>
                </button>
                <div class="price price--milk is-hidden3" data-modal3>
                    <h4 class="price__title">price list</h4>
                    <ul class="price__list">
                        <li class="price__item">
                            <span>Strawberry Shake</span>
                            <span>6$</span>
                        </li>
                        <li class="price__item">
                            <span>Vanilla Shake</span>
                            <span>6$</span>
                        </li>
                        <li class="price__item">
                            <span>Choco Mint Shake</span>
                            <span>7$</span>
                        </li>
                        <li class="price__item">
                            <span>Nutella Shake</span>
                            <span>8$</span>
                        </li>
                        <li class="price__item">
                            <span>Mango Milkshake</span>
                            <span>8$</span>
                        </li>
                    </ul>
                    <button class="price__button products__button" type="button" data-modal-close3>
                        <svg class="products__icon" width="15" height="15">
                            <use href="./images/products/svg/products.svg#icon-left"></use>
                        </svg>
                    </button>
                </div>
            </li>
        </ul>
    </div>
</section>


