<section class="section-products" id="products">
    <div class="container">
        <p class="section-products__label">100% natural</p>
        <h2 class="section-products__title">products</h2>
        <ul class="list products">            
            <li class="products__item products__item--cream">                    
                <h3 class="products__title">ice cream</h3>
                <p class="products__text">
                    Luxury ice cream from the farm. Bursting with flavour and made from real, simple ingredients.
                </p>
                <button class="products__button" type="button" data-modal-open4>
                    <svg class="products__icon" width="15" height="15">
                        <use href="./images/products/svg/products.svg#icon-right"></use>
                    </svg>
                </button>                 
            </li>             
            <li class="products__item products__item--coffee">
                <h3 class="products__title">ice coffee</h3>
                <p class="products__text">
                    When it comes to the best cold drinks, you can choose from our great range of iced coffees.
                </p>
                <button class="products__button" type="button" data-modal-open2>
                    <svg class="products__icon" width="15" height="15">
                        <use href="./images/products/svg/products.svg#icon-right"></use>
                    </svg>
                </button>                
            </li>
            <li class="products__item products__item--milk">
                <h3 class="products__title">milkshakes</h3>
                <p class="products__text">
                    Delicious blend of rich ice cream, whole milk, and favourites toppings.                    
                </p>
                <button class="products__button" type="button" data-modal-open3>
                    <svg class="products__icon" width="15" height="15">
                        <use href="./images/products/svg/products.svg#icon-right"></use>
                    </svg>
                </button>                
            </li>            
        </ul>
    </div>
</section>


