<section class="section-products">
    <div class="container">
        <p class="section-products-label">100% natural</p>
        <h2 class="section-products-title">products</h2>
        <ul class="list products">
            <li class="products-item cream">
                <h3 class="products-title">ice cream</h3>
                <p class="products-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et.
                </p>
                <button class="products-button" type="button">
                    <svg class="products-button-icon" width="12" height="12">
                        <use href="./images/svg/info.svg#icon-info"></use>
                    </svg>
                </button>
            </li>
            <li class="products-item coffee">
                <h3 class="products-title">ice coffee</h3>
                <p class="products-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et.
                </p>

            </li>
            <li class="products-item milk">
                <h3 class="products-title">milkshakes</h3>
                <p class="products-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et.
                </p>
                <button class="products-button" type="button">
                    <svg class="products-button-icon" width="12" height="12">
                        <use href="./images/svg/info.svg#icon-info"></use>
                    </svg>
                </button>
            </li>
        </ul>
    </div>
</section>