<!-- contacts -->

<section class="section contacts">
    <div class="container">
        <h2 class="contacts__title" hidden>Контакты</h2>
        <ul class="contacts__list list">
            <li class="contacts__item">
                <div class="adress-card">
                    <div class="uptitle-cafe">
                        <p class="adress-card__uptitle">CAFE</p>
                    </div>
                    <div class="location">
                        <h3 class="adress-card__title">Chicago</h3>
                        <p class="adress-card__subtitle">
                            Fusce ut velit laoreet, tempus arcu molestie vulputate
                        </p>
                    </div>
                    
                    <div class="adress-card__schedule">
                        <ul class="schedule">
                            <li class="schedule__weekdays list">
                                <p class="schedule__period">
                                    Monday - Friday
                                </p>
                                <p class="schedule__time">
                                    06:00 AM - 10:00 PM
                                </p>
                            </li>
                            <li class="schedule__weekends list">
                                <p class="schedule__period">
                                    Saturday - Sunday
                                </p>
                                <p class="schedule__time">
                                    08:00 AM - 16:00 PM
                                </p>
                            </li>
                        </ul>
                    </div>
                    <div class="adress-card__link">
                        <a class="adress-card__link--phone link" href="tel+610383766284">
                            +61(0) 383 766 284
                        </a>
                        <a class="adress-card__link--mail link" href="mailto:noreply@envato.com">
                            noreply@envato.com
                        </a>
                    </div>
                </div>
            </li>
            <li class="contacts__item">
                <div class="adress-card">
                    <div class="uptitle-foodtrack">
                        <p class="adress-card__uptitle">FOODTRACK</p>
                    </div>
                    <div class="location">
                        <h3 class="adress-card__title">Los Angeles</h3>
                        <p class="adress-card__subtitle">
                            Fusce ut velit laoreet, tempus <br> arcu molestie vulputate
                        </p>
                    </div>
                    
                    <div class="adress-card__schedule">
                        <ul class="schedule">
                            <li class="schedule__weekdays list">
                                <p class="schedule__period">
                                    Monday - Friday
                                </p>
                                <p class="schedule__time">
                                    06:00 AM - 10:00 PM
                                </p>
                            </li>
                            <li class="schedule__weekends list">
                                <p class="schedule__period">
                                    Saturday - Sunday
                                </p>
                                <p class="schedule__time">
                                    08:00 AM - 16:00 PM
                                </p>
                            </li>
                        </ul>
                    </div>
                    <div class="adress-card__link">
                        <a class="adress-card__link--phone" href="tel+610383766284">
                            +61(0) 383 766 284
                        </a>
                        <a class="adress-card__link--mail" href="mailto:noreply@envato.com">
                            noreply@envato.com
                        </a>
                    </div>
                </div>
            </li>
            <li class="contacts__item">
                <div class="adress-card">
                    <div class="uptitle-cafe">
                        <p class="adress-card__uptitle">CAFE</p>
                    </div>
                    <div class="location">
                        <h3 class="adress-card__title">New York</h3>
                        <p class="adress-card__subtitle">
                            Fusce ut velit laoreet, tempus <br> arcu molestie vulputate
                        </p>
                    </div>
                    
                    <div class="adress-card__schedule">
                        <ul class="schedule">
                            <li class="schedule__weekdays list">
                                <p class="schedule__period">
                                    Monday - Friday
                                </p>
                                <p class="schedule__time">
                                    06:00 AM - 10:00 PM
                                </p>
                            </li>
                            <li class="schedule__weekends list">
                                <p class="schedule__period">
                                    Saturday - Sunday
                                </p>
                                <p class="schedule__time">
                                    08:00 AM - 16:00 PM
                                </p>
                            </li>
                        </ul>
                    </div>
                    <div class="adress-card__link">
                        <a class="adress-card__link--phone" href="tel+610383766284">
                            +61(0) 383 766 284
                        </a>
                        <a class="adress-card__link--mail" href="mailto:noreply@envato.com">
                            noreply@envato.com
                        </a>
                    </div>
                </div>
            </li>
        </ul>
        <div class="cont-btn">
            <button class="cont-btn__locations" type="button">
                Our Location
                <svg class="cont-btn__icon" width="9px" height="13px">
                    <use href="../src/images/about/section-about-sprite.svg#icon-vector-right"></use>
                </svg>
            </button>
            
            <button class="cont-btn__franchise" type="button" data-modal-open6>
                    Franchise
                <svg class="cont-btn__icon" width="9px" height="13px">
                    <use href="../src/images/about/section-about-sprite.svg#icon-vector-right"></use>
                </svg>
            </button>
        </div>

        <div class="backdrop is-hidden" data-modal6>
            <div class="modal">
                <button class="modal-btn" data-modal-close6>
                    <svg class="modal-btn__icon-close" width="18" height="18">
                        <use href="./images/products/svg/products.svg#icon-close-modal"></use>
                    </svg>
                </button>
        
                <strong class="modal-title">Please take a second to test</strong>
                <form class="modal-form">
                    <label class="modal-form__field">
                        <span class="modal-form__label">Name</span>
                        <div class="modal-form__field-icon">
                            <input class="modal-form__input modal-form__icon--user" type="text" name="user-name" id="user-name">
                            <svg class="modal-form__icon" width="18" height="18">
                                <use href="./images/products/svg/products.svg#icon-user"></use>
                            </svg>
                        </div>
        
                    </label>
        
                    <label class="modal-form__field">
                        <span class="modal-form__label">Phone</span>
                        <div class="modal-form__field-icon">
                            <input class="modal-form__input" type="tel" name="user-phone" id="user-phone">
                            <svg class="modal-form__icon modal-form__icon--phone" width="18" height="18">
                                <use href="./images/products/svg/products.svg#icon-phone"></use>
                            </svg>
                        </div>
                    </label>
        
                    <label class="modal-form__field">
                        <span class="modal-form__label">Choose your Products</span>
                        <select class="modal-form__input modal-form__input--product" name="Products">
                            <optgroup class="modal-form__optgroup" label="Ice Cream">
                                <option class="modal-form__option value=" s6">Black Raspberry</option>
                                <option class="modal-form__option value=" s7">Chocolate</option>
                                <option class="modal-form__option value=" s8">French Vanilla</option>
                                <option class="modal-form__option value=" s7">Rose Pistachio</option>
                                <option class="modal-form__option value=" s8">Oreo Latte</option>
                            </optgroup>
        
                            <optgroup class="modal-form__optgroup" label="Ice Coffee">
                                <option class="modal-form__option value=" s6">Cold Brew</option>
                                <option class="modal-form__option value=" s7">Iced Mocha</option>
                                <option class="modal-form__option value=" s8">Iced Latte</option>
                                <option class="modal-form__option value=" s7">Yogurt Coffee</option>
                                <option class="modal-form__option value=" s8">Greek Frappe</option>
        
                            <optgroup class="modal-form__optgroup" label="Milkshakes">
                                <option class="modal-form__option value=" s6">Strawberry Shake</option>
                                <option class="modal-form__option value=" s7">Vanilla Shake</option>
                                <option class="modal-form__option value=" s8">Choco Mint Shake</option>
                                <option class="modal-form__option value=" s7">Nutella Shake</option>
                                <option class="modal-form__option value=" s8">Mango Milkshake</option>
                        </select>
                    </label>
        
                    <div class="form-thumb">
                        <div class="form-pay">
                            <p class="modal-form__label modal-form__label--payment">Payment Method</p>
                            <div class="modal-form__pay-type">
                                <label class="modal-form__pay-group">
                                    <input class="modal-form__pay-checkbox visually-hidden" type="radio" name="user-pay"
                                        checked />
                                    <svg class="modal-form__pay-option" width="50" height="50">
                                        <use href="./images/products/svg/products.svg#icon-visa"></use>
                                    </svg>
                                </label>
        
                                <label class="modal-form__pay-group">
                                    <input class="modal-form__pay-checkbox visually-hidden" type="radio" name="user-pay" />
                                    <svg class="modal-form__pay-option" width="50" height="50">
                                        <use href="./images/products/svg/products.svg#icon-mastercard"></use>
                                    </svg>
                                </label>
                            </div>
                        </div>
        
                        <label class="modal-form__field">
                            <span class="modal-form__label modal-form__label--quantiti">Qantiti</span>
                            <input class="modal-form__input modal-form__input--quantiti" type="number" name="weight" min="1"
                                max="20" step="1" value="1" />
                        </label>
                    </div>
        
                    <label class="modal-form__textarea">
                        <span class="modal-form__label">Any request?</span>
                        <textarea class="modal-form__comment" name="comment" rows="5"
                            placeholder="Type your massage here..."></textarea>
                    </label>
        
        
                    <label class="modal-form__policy-group">
                        <input class="modal-form__checkbox" type="checkbox" />
                        <span class="modal-form__custom-checkbox">
                            <svg class="modal-form__custom-checkbox-icon" width="16" height="15">
                                <use href="./images/products/svg/products.svg#icon-check"></use>
                            </svg>
                        </span>
                        <span class="modal-form__checkbox-description">Agree with<a class="modal-form__link" href=""> The
                                Privacy
                                Policy</a></span>
                    </label>
        
                    <div class="modal-form__field-btn">
                        <button class="modal-form__btn modal-form__btn--checkout" type="submit">Checkout</button>
                    </div>
                    <div class="modal-form__field-btn">
                        <button class="modal-form__btn modal-form__btn--continue" type="submit">Continue Shopping</button>
                    </div>
        
                </form>
            </div>
        </div>
        
    </div>
</section>