<!-- contacts -->

<section class="section contacts" id="contact">
    <div class="container">
        <h2 class="contacts__title">Контакты</h2>
        <ul class="contacts__list list">
            <li class="contacts__item">
                <div class="adress-card">
                    <div class="uptitle-cafe">
                        <p class="adress-card__uptitle">CAFE</p>
                    </div>
                    <div class="location">
                        <h3 class="adress-card__title">Chicago</h3>
                        <p class="adress-card__subtitle">
                            Fusce ut velit laoreet, tempus arcu molestie vulputate
                        </p>
                    </div>
                    
                    <div class="adress-card__schedule">
                        <ul class="schedule">
                            <li class="schedule__weekdays list">
                                <p class="schedule__period">
                                    Monday - Friday
                                </p>
                                <p class="schedule__time">
                                    06:00 AM - 10:00 PM
                                </p>
                            </li>
                            <li class="schedule__weekends list">
                                <p class="schedule__period">
                                    Saturday - Sunday
                                </p>
                                <p class="schedule__time">
                                    08:00 AM - 16:00 PM
                                </p>
                            </li>
                        </ul>
                    </div>
                    <div class="adress-card__link">
                        <a class="adress-card__link--phone link" href="tel+610383766284">
                            +61(0) 383 766 284
                        </a>
                        <a class="adress-card__link--mail link" href="mailto:noreply@envato.com">
                            noreply@envato.com
                        </a>
                    </div>
                </div>
            </li>
            <li class="contacts__item">
                <div class="adress-card">
                    <div class="uptitle-foodtrack">
                        <p class="adress-card__uptitle">FOODTRACK</p>
                    </div>
                    <div class="location">
                        <h3 class="adress-card__title">Los Angeles</h3>
                        <p class="adress-card__subtitle">
                            Fusce ut velit laoreet, tempus arcu molestie vulputate
                        </p>
                    </div>
                    
                    <div class="adress-card__schedule">
                        <ul class="schedule">
                            <li class="schedule__weekdays list">
                                <p class="schedule__period">
                                    Monday - Friday
                                </p>
                                <p class="schedule__time">
                                    06:00 AM - 10:00 PM
                                </p>
                            </li>
                            <li class="schedule__weekends list">
                                <p class="schedule__period">
                                    Saturday - Sunday
                                </p>
                                <p class="schedule__time">
                                    08:00 AM - 16:00 PM
                                </p>
                            </li>
                        </ul>
                    </div>
                    <div class="adress-card__link">
                        <a class="adress-card__link--phone" href="tel+610383766284">
                            +61(0) 383 766 284
                        </a>
                        <a class="adress-card__link--mail" href="mailto:noreply@envato.com">
                            noreply@envato.com
                        </a>
                    </div>
                </div>
            </li>
            <li class="contacts__item">
                <div class="adress-card">
                    <div class="uptitle-cafe">
                        <p class="adress-card__uptitle">CAFE</p>
                    </div>
                    <div class="location">
                        <h3 class="adress-card__title">New York</h3>
                        <p class="adress-card__subtitle">
                            Fusce ut velit laoreet, tempus arcu molestie vulputate
                        </p>
                    </div>
                    
                    <div class="adress-card__schedule">
                        <ul class="schedule">
                            <li class="schedule__weekdays list">
                                <p class="schedule__period">
                                    Monday - Friday
                                </p>
                                <p class="schedule__time">
                                    06:00 AM - 10:00 PM
                                </p>
                            </li>
                            <li class="schedule__weekends list">
                                <p class="schedule__period">
                                    Saturday - Sunday
                                </p>
                                <p class="schedule__time">
                                    08:00 AM - 16:00 PM
                                </p>
                            </li>
                        </ul>
                    </div>
                    <div class="adress-card__link">
                        <a class="adress-card__link--phone" href="tel+610383766284">
                            +61(0) 383 766 284
                        </a>
                        <a class="adress-card__link--mail" href="mailto:noreply@envato.com">
                            noreply@envato.com
                        </a>
                    </div>
                </div>
            </li>
        </ul>
        <ul class="cont-btn">
            <li>
                <a class="popup-gmaps" href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d190180.92347749064!2d-87.82442590504043!3d41.85893224233181!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e2bcdde2e3dbf%3A0x788a2cf03bc86a57!2sIce%20cream!5e0!3m2!1sru!2sua!4v1656337023782!5m2!1sru!2sua" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                    Our Location
                    <svg class="cont-btn__icon" width="9px" height="13px">
                        <use href="../src/images/contacts/contact-sprite.svg#vector_1"></use>
                    </svg>
                </a>  
                <!-- <button class="popup-gmaps" type="button" href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d190180.92347749064!2d-87.82442590504043!3d41.85893224233181!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e2bcdde2e3dbf%3A0x788a2cf03bc86a57!2sIce%20cream!5e0!3m2!1sru!2sua!4v1656337023782!5m2!1sru!2sua" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                    Our Location
                    <svg class="cont-btn__icon" width="9px" height="13px">
                        <use href="../src/images/about/section-about-sprite.svg#icon-vector-right"></use>
                    </svg>
                </button> -->
            </li>
            <li>
                <a class="cont-btn__franchise">
                    Franchise
                    <svg class="cont-btn__icon" width="9px" height="13px">
                        <use href="../src/images/contacts/contact-sprite.svg#vector_1"></use>
                    </svg>
                </a>
                <!-- <button class="cont-btn__franchise" type="button">
                    Franchise
                <svg class="cont-btn__icon" width="9px" height="13px">
                    <use href="../src/images/about/section-about-sprite.svg#icon-vector-right"></use>
                </svg>
            </button> -->
            </li>
        </ul>
    </div>
</section>