.button-top {
    position: fixed;
    z-index: 60;
    right: 20px;
    bottom: 20px;
    height: 40px;
        width: 40px;
        border-radius: 50%;
        display: none;

        background-color: #FFFFFF;

        box-shadow:
                0px 1px 1px rgba(0, 0, 0, 0.12),
                0px 4px 4px rgba(0, 0, 0, 0.06),
                1px 4px 6px rgba(0, 0, 0, 0.16);        

        cursor: pointer;
        transform: scale(1);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
        transform: scale(1.5);  
    }
    &-icon {
        fill: #D41443;
        transform: rotate(-90deg);
    }
}

    

