.mobile-menu {
  display: flex;
  flex-direction: column;

  width: 100vw;
  height: 100vh;
  background-color: rgba(225, 121, 146, 1);
  z-index: 99;

  position: fixed;
  top: 0;
  left: 0;

  transform: translateX(100%);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);

  padding-top: 20px;

  &__buy-btn {
    display: flex;

    width: 209px;
    height: 44px;
    border-radius: 22px;
    margin-bottom: 19px;

    border: none;
    background-color: rgba(255, 255, 255, 1);

    color: rgba(212, 20, 67, 1);
    font-size: 16px;
    font-weight: 600;
    line-height: 1.3;

    align-self: center;
    align-items: center;
    justify-content: space-evenly;

    
    &:hover,
    &:focus {
      background-color: rgba(212, 20, 67, 1);
      color: rgba(255, 255, 255, 1);
      
    }

    
  }
  &__item {
    display: flex;
    height: 42px;
    border-top: solid 1px rgba(225, 130, 152, 1);
    &:last-child {
      border-bottom: solid 1px rgba(225, 130, 152, 1);
    }
    padding-left: 20px;

    font-family: DM sans;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.29;

    justify-content: baseline;
    align-items: center;
    color: rgba(255, 255, 255, 1);

    &:hover,
    &focus {
      color: rgba(212, 20, 67, 1);
    }
  }
  &__link {
  }

}

.mobile-menu.is-open {
  transform: translateX(0);

}


.menu-toggle {
  background-color: rgba(225, 121, 146, 1);
  margin-bottom: 26px;
  padding: 0;
  transform:scale(1);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  

  &:hover,&:focus {transform:scale(1.1);}



  &__wrapper {
    display: flex;
    height: 60px;
    align-items: center;
    padding-top: 20px;
    padding-right: 20px;
    justify-content: flex-end;
  }
}
.menu-button__arrow 
{
  fill: currentColor;
}

