.title {
  color: #d41443;

  font-family: 'Titan One', cursive;
  font-size: 34px;
  line-height: 1.147;
  letter-spacing: 0.04em;
  text-transform: uppercase;

// Section "ABOUT"
  .about & {
    margin-bottom: 32px;
    text-align: center;

    @include mq(tablet){
      margin-bottom: 40px;
    }

    @include mq(desktop) {
      margin-bottom: 60px;
    }
  }
}

.subtitle {
  color: #ffa5ba;
  font-family: 'Titan One', cursive;
  font-size: 18px;
  line-height: 1.153;
  text-transform: uppercase;

  // Section "ABOUT"
  .about & {
    margin-bottom: 15px;
    text-align: center;

    @include mq(tablet){
      margin-bottom: 16px;
    }
  }
}
