.about {
    padding-top: 60px;
    padding-bottom: 40px;

    background-color: rgba(255, 245, 246, 1);

    &__description {
        max-width: 220px;
        margin-right: auto;
        margin-bottom: 20px;

        text-align: start;
        font-size: 12px;
        line-height: 1.62;
        letter-spacing: 0em;
    }

    &__description--grey {
        max-width: 220px;
        margin-right: auto;
        text-align: start;
        font-size: 12px;
        line-height: 1.62;
        letter-spacing: 0.02em;

        color: rgba(144, 126, 130, 1);
    }

    &__thumb {
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
    }

    &__bg-wrapper {
        max-width: 280px;
        display: block;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;

        background-image: url(../images/about/about-bg.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 0 40%;
    }
}

.about-button {
    display: flex;
    align-items: center;
    padding-left: 37px;
    padding-right: 38px;
    padding-top: 18px;
    padding-bottom: 18px;
    max-width: 176px;
    width: 100%;
    max-height: 44px;

    font-weight: 700;
    line-height: 1.29;

    color: rgba(212, 20, 67, 1);
    background-color: rgba(255, 255, 255, 1);
    border-radius: 22px;

    &__wrapper {
        display: block;
        max-width: 280px;
        margin-left: auto;
        margin-right: auto;
    }

    &__icon{
        // display: block;
        margin-left: auto;
        color: rgba(212, 20, 67, 1);
        min-width: 9px;
        min-height: 13px;
    }
}



.about .title, .about .subtitle {
    text-align: center;
}
