.about {
    padding-top: 60px;
    padding-bottom: 40px;

    @include mq(tablet-only){
        padding-bottom: 60px;
    }

    background-color: rgba(255, 245, 246, 1);

    &__content {
        @include mq(mobile-only){
            &--bg-milk {
                background-repeat: no-repeat;
                background-size: contain;
                background-position: 0 69%;
                background-image: url(../images/about/about-bg.png);
    
                @include mq(retina){
                    background-image: url(../images/about/about-bg@2x.png);
                }
            }
        }
        @include mq(tablet-only) {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
    }

    &__cow-image-wrapper {
        max-width: 280px;
        max-height: 279px;
        margin-left: auto;
        margin-right: auto;
    }

    &__description {
        max-width: 220px;
        margin-right: auto;
        margin-bottom: 20px;

        text-align: start;
        font-size: 12px;
        line-height: 1.62;
        letter-spacing: 0em;

        @include mq(tablet-only) {
            max-width: 334px;
            font-size: 14px;
            line-height: 1.76;
        }
    }

    &__description--grey {
        max-width: 220px;

        margin-right: auto;
        margin-bottom: 20px;

        text-align: start;
        font-size: 12px;
        line-height: 1.62;
        letter-spacing: 0.02em;

        color: rgba(144, 126, 130, 1);

        @include mq(tablet-only) {
            max-width: 334px;
            margin-bottom: 40px;

            font-size: 14px;
            line-height: 1.76;
            letter-spacing: 0.04em;
        }
    }

    &__text-wrapper {
        @include mq(mobile-only) {
            display: block;
            max-width: 280px;
            margin-left: auto;
            margin-right: auto;

            
        }

        @include mq(tablet-only) {
            max-width: 334px;
        }
        
    }
}

.bg-cow {

    @include mq(mobile-only) {
        max-width: 280px;
        height: 279px;
        margin-bottom: 40px;
        margin-left: auto;
        margin-right: auto;

        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(../images/about/cow_280.png);

        @include mq(retina){
            background-image: url(../images/about/cow_560.png);
        }
    }

    @include mq(tablet-only) {
        width: 336px;
        height: 335px;
        margin-right: 32px;

        background-image: url(../images/about/cow_336.png);
        background-position: center;

        @include mq(retina){
            background-image: url(../images/about/cow_672.png);
        }
    }
}

.about-button {
    display: flex;
    align-items: center;

    padding-left: 37px;
    padding-right: 38px;
    padding-top: 18px;
    padding-bottom: 18px;

    max-width: 176px;
    width: 100%;
    max-height: 44px;

    font-weight: 700;
    line-height: 1.29;

    color: rgba(212, 20, 67, 1);
    background-color: rgba(255, 255, 255, 1);
    border-radius: 22px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
        transform: scale(1);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover, &:focus {
            transform: scale(1.2);
        }

    &__icon{
        margin-left: auto;
        color: rgba(212, 20, 67, 1);
        min-width: 9px;
        min-height: 13px;
    }
}
