.customer {
  @include mq(mobile) {
    position: relative;
    display: flex;
    text-align: center;
    flex-direction: column;
  }
}
.customer__title{
  visibility: hidden;
}
.customer__madia {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.customer__img {

  @include mq(mobile-only) {
    margin-bottom: 32px;
  }

  @include mq(tablet) {
    margin-bottom: 20px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 16px;
  }
}
// .image{
//   display: block;
//   max-width: 100%;
//   border-radius: 50%;
// }
.customer__text {
  position: relative;

  background-color: #fafafa;
  margin: 0 0 36px 0;

  @include mq(mobile-only) {
    width: 280px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 43px;
    padding-bottom: 26px;
  }

  @include mq(tablet-only) {
    width: 620px;
    margin: 0 0 24px 0;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 37px;
    padding-bottom: 44px;
  }

  @media screen and (min-width: 1200px) {
    width: 968px;
    margin: 0 0 36px 0;
    padding-left: 74px;
    padding-right: 74px;
    padding-top: 47px;
    padding-bottom: 39px;
  }
}

.customer__text--style {
  position: relative;

  font-weight: 500;
  text-align: center;
  z-index: 1;

  @include mq(mobile-only) {
    font-style: normal;

    font-size: 13px;
    line-height: 3;
  }

  @include mq(tablet) {
    font-size: 14px;
    line-height: 2.6;
    letter-spacing: 0.04em;
    padding-left: 45px;
    padding-right: 45px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: 2.2;
    padding-left: 35px;
    padding-right: 36px;
  }

  background-image: repeating-linear-gradient(to top,
    #e1e1e1 0px,
    #e1e1e1 1px,
    #fafafa 1px,
    #fafafa 40px);
}

.customer__text--style::before {
  content: '';
  position: absolute;
  display: block;
  z-index: -1;

  width: 60px;
  height: 40px;

  background-image: url(../images/customer/“-2.svg);
  background-position: center;
  background-repeat: no-repeat;
  border-color: #e1e1e1;
  opacity: 0.6;

  @include mq(mobile-only) {
    left: -12px;
    top: -10px;
  }

  @include mq(tablet) {
    left: 15px;
    top: -15px;
  }

  @media screen and (min-width: 1200px) {
    left: -7px;
    top: -15px;
  }
}

.customer__icon-name {
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.9;

  @include mq(mobile-only) {
    margin-bottom: 16px;
  }

  @include mq(tablet) {
    margin-bottom: 32px;
  }
}

.customer__icon--page {
  margin: 0;
  padding: 0;
}

.icon {
  fill: #d9d9d9;

  &:hover,
  &:focus {
    fill: #d31342;
  }
}

.customer__link {
  display: inline-block;
  margin-right: 18px;
  cursor: pointer;
  

  &:last-child {
    margin-right: 0;
  }
}
// .swiper {
//   width: 100%;
//   height: 100%;
// }

// .swiper-pagination-clickable .swiper-pagination-bullet{
//   width: 6px;
//   height: 6px;
//   background-color: #d31342;
//   cursor: pointer;
// }
