.hero {
    max-width: 320px;
    padding-top: 58px;
    background-color: rgba(255, 184, 202, 1);
}

.hero__title {
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 1.15;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: rgba(255, 255, 255, 1);

    &--big {
        font-weight: 400;
        font-size: 48px;
        line-height: 0.95;

        color: rgba(212, 20, 67, 1);

    }
}