.section-products {
    padding-top: 60px;
    padding-bottom: 60px;

    &__label {            
            margin-bottom: 15px;
    
            font-family: 'Titan One';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 1.14;
            text-align: center;
            letter-spacing: 0.04em;
            text-transform: uppercase;
    
            color: #FFA5BA;
        }

    &__title {
        margin-bottom: 8px;  

        font-family: 'Titan One';
        font-style: normal;
        font-weight: 400;
        font-size: 34px;
        line-height: 1.14;
        text-align: center;        
        letter-spacing: 0.04em;
        text-transform: uppercase;

        color: #D41443;
    }

}
.products {
    &__item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative; 
        
        overflow: hidden;
       
        margin-left: auto;
        margin-right: auto;

        height: 629px;
        padding-top: 308px;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 40px;
        border-radius: 24px;

        max-width: 280px;        
    }    
    
    &__title {
       display: block;       

       font-family: 'Titan One';
       font-style: normal;
       font-weight: 400;
       font-size: 20px;
       line-height: 1.1;
       text-align: center;
       letter-spacing: 0.04em;
       text-transform: uppercase;

       color: #FFFFFF;
    }    

    &__text {        
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.52;

        text-align: center;
        letter-spacing: 0.04em;

        color: #FFFFFF;
    }

    &__item::after {
        position: absolute;
        top: 0px;
        left: 0px;
        
        content: '';
        width: 100%;
        max-width: 280px;
        height: 280px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    &__item--cream::after {
        background-image: url(../images/products/Products-1_sm.png);

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url(../images/products/Products-1_sm@2x.png);
        }
    }

    &__item--coffee::after {
        background-image: url(../images/products/Products-2_sm.png);

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url(../images/products/Products-2_sm@2x.png);
        }
    }

    &__item--milk::after {
        background-image: url(../images/products/Products-3_sm.png);

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url(../images/products/Products-3_sm@2x.png);
        }
    }

    &__title::after {
        display: block;
        content: '';

        margin-top: 32px;
        height: 6px;
        background-image: url(../images/products/svg/elips.svg);
        background-position: center;
        background-repeat: no-repeat;
    }

    &__item--cream::before {
        display: block;
        position: absolute;
        left: 0px;
        bottom: 0px;

        content: '';

        z-index: -100;

        border-radius: 24px;
        
        width: 100%;
        height: 489px;
        background-image: url(../images/products/svg/Rectangle-1.svg);
        background-position: center;
        background-repeat: no-repeat;
    }

    &__item--coffee::before {
        display: block;
        position: absolute;
        left: 0px;
        bottom: 0px;

        content: '';

        z-index: -100;

        border-radius: 24px;

        width: 100%;
        height: 489px;
        background-image: url(../images/products/svg/Rectangle-2.svg);
        background-position: center;
        background-repeat: no-repeat;
    }

    &__item--milk::before {
        display: block;
        position: absolute;
        left: 0px;
        bottom: 0px;

        content: '';

        z-index: -100;

        border-radius: 24px;

        width: 100%;
        height: 489px;
        background-image: url(../images/products/svg/Rectangle-3.svg);
        background-position: center;
        background-repeat: no-repeat;
    }    

    &__button {
        display: flex;

        margin-right: auto;
        margin-left: auto;
        padding: 0;

        justify-content: center;
        align-items: center;

        height: 40px;
        width: 40px;
        border-radius: 50%;

        cursor: pointer;
        transform: scale(1);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__button:hover,
    &__button:focus, {
        transform: scale(1.5);
    }

    &__icon {
        fill: #D41443;
    }
}

.price {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
        left: 0;
        bottom: 0px;    
        
    width: 100%;
    height: 320px;     
    
    padding-top: 0px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    border-radius: 24px;  
    
    &__item {
        display: flex;
        align-items: baseline;

        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.52;

        text-align: center;
        letter-spacing: 0.04em;

        color: #FFFFFF;
    }

    &__item:not(:last-child) {
        margin-bottom: 5px;
    }

    &__item span:last-of-type {
        order: 2;
    }

    &__item::after {
        content: '';
        flex-grow: 1;
        order: 1;
        height: 1px;
        margin-left: 6px;
        margin-right: 6px;

        background-color: rgba(151, 73, 73, 0.13);
    }

    &__title {
        display: block;

        font-family: 'Titan One';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 1.1;
        text-align: center;
        letter-spacing: 0.04em;
        text-transform: uppercase;

        color: #FFFFFF;
    }
}

.price::before {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: rotate(52deg) translate(-85px, 50px);

    content: 'from cow to wow';  
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 50px;

    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: #FFFFFF;

    background-color: rgba(0, 0, 0, 0.158);
    border: 1px solid #FFFFFF;
}

.price--cream {
    background-color: #FFB8CA;
    
    opacity: 1;
    transform: translateX(0%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
                opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
                

    &.is-hidden {
        opacity: 0;    
        transform: translateX(-100%);
    }
}

.price--coffee {
    background-color: #F0D1A5;

    transform: translateX(0%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &.is-hidden2 {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;

        transform: translateX(-100%);
    }
}

.price--milk {
    background-color: #C2E297;

    transform: translateX(0%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &.is-hidden3 {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;

        transform: translateX(-100%);
    }
}





