.section.contacts {
    // outline: 1px solid darkorange;
    padding-top: 60px;
    padding-bottom: 40px;

    background-image: radial-gradient(
        circle at bottom center,
        rgba(255, 245, 246, 1) 73%,
        #ffffff 73%
    );

    @include mq(tablet) {
        background-image: linear-gradient(
        to bottom,
        #ffffff 51%,
        rgba(255, 245, 246, 1) 51%
    );
    
    }
    
    @include mq(desktop) {
        background-image: linear-gradient(
        to bottom,
        #ffffff 28%,
        rgba(255, 245, 246, 1) 28%);          
    
    }
    
}
    
.contacts__list {
    margin: -10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    
    @include mq(tablet) {
        margin: -16px;
    
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
    
    }
    
    @include mq(desktop) {
    
            // display: flex;
            // flex-wrap: nowrap;
    
    }
}
    
.contacts__item {
    margin: 10px;
    padding: 40px 32px;
        // outline: 1px solid red;
    width: 100%;
    max-width: 280px;
    background-color: #fff;
    
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;
    
    @include mq(tablet) {
        max-width: 224px;
        margin: 16px;
    
            // &:nth-child(odd) {
            //     margin-right: 30px;
            // }
    
            // &:nth-child(-n+2) {
            //     margin-bottom: 30px;
            // }
        flex-basis: calc((100% - 3*10px)/3);
    
    }

    @include mq(desktop) {
        max-width: 368px;
    }

    &:hover,
    &:focus {
        box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1) inset;
    }
        
}

.uptitle-cafe {
    margin-bottom: 20px;
    
    height: auto;
    width: 80px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background: #F0D1A5;
    border-radius: 4px;
}
    
.contacts__item:hover .uptitle-cafe {
        
    animation: animate30 2000ms infinite 100ms;
    box-shadow: 11px 10px 12px -3px rgba(212, 20, 0, 0.72);
}

@keyframes animate30 {
    0% {
      transform: rotate(0deg);
    //   background-color: #188CE8;
    //   color: #ffffff;
    }
  
    25% {
      transform: rotate(-15deg);
    //   background-color: var(--accent-cl);
    //   color: #ffffff;
    }

    50% {
        transform: rotate(15deg);
      //   background-color: var(--accent-cl);
      //   color: #ffffff;
    }
    
    75% {
        transform: rotate(-15deg);
      //   background-color: var(--accent-cl);
      //   color: #ffffff;
    }
  
    100% {
      transform: rotate(0deg);
    //   background-color: #188CE8;
    //   color: #ffffff;
    }
}
    
.uptitle-foodtrack {
    margin-bottom: 20px;
    
    height: auto;
    width: 130px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background: #C2E297;
    border-radius: 4px;
}

.contacts__item:hover .uptitle-foodtrack {
        
    animation: animate30 2000ms infinite 100ms;
    box-shadow: 11px 10px 12px -3px rgba(212, 20, 0, 0.72);
}

@keyframes animate30 {
    0% {
      transform: rotate(0deg);
    //   background-color: #188CE8;
    //   color: #ffffff;
    }
  
    25% {
      transform: rotate(-10deg);
    //   background-color: var(--accent-cl);
    //   color: #ffffff;
    }

    50% {
        transform: rotate(10deg);
      //   background-color: var(--accent-cl);
      //   color: #ffffff;
    }
    
    75% {
        transform: rotate(-10deg);
      //   background-color: var(--accent-cl);
      //   color: #ffffff;
    }
  
    100% {
      transform: rotate(0deg);
    //   background-color: #188CE8;
    //   color: #ffffff;
    }
}
    
.adress-card__uptitle {
       
    color: #fff;
    
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.86;
    
    
        
    letter-spacing: 0.04em;
}
    
.adress-card__title {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.86;

    margin-bottom: 8px;
    
    
    letter-spacing: 0.04em;
}

.contacts__item:hover .adress-card__title {
        
    text-shadow: 2px 3px 4px rgba(0,0,0,0.57);
    font-weight: 700;
}
    
.adress-card__subtitle {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;
    
    
    color: #907E82;
}
    
.adress-card__link {
    display: flex;
    flex-direction: column;
}

.location {
    padding-bottom: 32px;
    // outline: 1px solid orangered;
    border-bottom: 1px solid #E1E1E1;
}

.adress-card__schedule {
    padding-top: 32px;
    padding-bottom: 32px;

    border-bottom: 1px solid #E1E1E1;
}
    
.schedule__period {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.86;
}
    
.schedule__time {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.86;
    
    color: #FFA5BA;
}

.schedule__weekdays {
    margin-bottom: 12px;
}
    
.adress-card__link {
    padding-top: 32px;
}

.adress-card__link--phone {
    text-decoration: none;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;
    
    color: #907E82;
    
    &:hover,
    &:focus {
        color: #D41443;
    }
}
    
.adress-card__link--mail {
    text-decoration: none;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;
    
    color: #907E82;
    
    &:hover,
    &:focus {
        color: #D41443;
    }
}

.cont-btn {
    margin-top: 32px;
    // margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;    

    @include mq(tablet) {
       flex-direction: row;
       justify-content: center;
    }

    @include mq(desktop) {
        
    }
}

.cont-btn__locations {
    padding: 6px 18px;
    margin-bottom: 10px;
    
    width: 162px;
    height: 44px;
    color: #ffffff;
    background-color: #D41443;
    border-radius: 22px;

    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
            0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    transform: scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);


    @include mq(tablet) {
        margin-right: 15px;    
    }

    @include mq(desktop) {
        
    }

    &:hover .cont-btn__icon,
    &:focus .cont-btn__icon {
        fill: #d41443;
    }

    &:hover,
    &:focus {
        color: #d41443;
        background-color: #FFFFFF;
        transform: scale(1.1);
    }

}


.cont-btn__franchise {
    padding: 6px 32px;
    color: #D41443;
    background-color: #FFFFFF;

    width: 162px;
    height: 44px;
    
    border-radius: 22px;

    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
            0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    transform: scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
                color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @include mq(tablet) {
    
    }

    @include mq(desktop) {
        
    }

    &:hover,
    &:focus {
        color: #ffffff;
        background-color: #d41443;
        transform: scale(1.1);
    }

    &:hover .cont-btn__icon,
    &:focus .cont-btn__icon {
        fill: #ffffff;        
    }
}

.cont-btn__icon {
    fill: #d41443;
    min-width: 9px;
    min-height: 13px;
    margin-left: auto;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cont-btn__icon--locations {
    fill:#ffffff;
}