// section HERO 
.hero {
    background-color: rgba(255, 184, 202, 1);
    overflow: hidden;
}
.hero__wrapper {
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 83px;
    padding-bottom: 75px;

    z-index: 15;
    @include mq(tablet-only) {
        display: flex;
        justify-content: space-between;
        max-width: 768px;
        margin: 0 auto;
        padding-top: 43px;
        padding-bottom: 40px;
    }
    @include mq(desktop) {
        display: flex;
        justify-content: space-between;
        max-width: 1280px;
        padding-top: 54px;
        padding-bottom: 76px;
    }
   
    // @include mq(mobile) {
    //     max-width: none;
    //     width: 320px;
    //     margin-left: auto;
    //     margin-right: auto;
    // }
   
    
}

.hero__content {
    width: 218px;
    position: absolute;
    z-index: 15;
    padding-top: 111px;
    padding-bottom: 83px;

    @include mq(tablet-only) {
        width: 162px;
        position: static;
        padding-top: 65px;
        padding-bottom: 0;
        position: relative;
    }
    @include mq(desktop) {
        position: static;
        width: 277px;
        padding-top: 93px;
        
    }
}

.hero__title {
    
    margin-bottom: 20px;
    
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 1.15;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: rgba(255, 255, 255, 1);

    &--big {
        font-weight: 400;
        font-size: 48px;
        line-height: 0.95;

        color: rgba(212, 20, 67, 1);

    }

    @include mq(tablet-only) {
        font-size: 22px;
        line-height:  1.13;
    }
    @include mq(desktop) {
        font-size: 38px;
        line-height:  1.15;
    }
}
.hero__title--big {
    @include mq(tablet-only) {
        font-size: 34px;
        line-height:  0.9;
    }
    @include mq(desktop) {
        font-size: 58px;
        line-height:  0.9;
    }
}


.hero__list {
    display: flex;
    margin-bottom: 20px;
}

.hero__item {
    margin-left: 7.6px;
    &:nth-child(1) {
        margin-left: 0;
    }
}


.hero__link {
    
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 1.25;
    display: flex;
    align-items: center;
    text-align: center;

    padding: 7px 15px;
    background-color: rgba(212, 20, 67, 1);
    border-radius: 20px;

    color: #FFFFFF;
    &--white {
        color: rgba(212, 20, 67, 1);
        background-color: rgba(255, 255, 255, 1);
    }
    &--white:hover,
    &--white:focus {
        background-color: rgba(236, 235, 235, 1);
    }
    @include mq(tablet-only) {
        padding: 7px 12px;
    }
    @include mq(desktop) {
        padding: 11px 23px;
        font-size: 14px;
    }
}

.hero__milk {
    display: none;
    @include mq(tablet-only) {
        display: flex;
        position: absolute;
    }
    @include mq(desktop) {
        display: flex;
        position: absolute;
        width: 413px;
    }
}

.hero__milk-img {
    @include mq(tablet-only){
        width: 152px;
        height: 154px;
    }
    @include mq(desktop) {
        width: 213px;
        height: 216px;
    }
}

.hero__milk-images {
    @include mq(tablet-only){
        width: 152px;
        height: 154px;
    }
    @include mq(desktop) {
        width: 213px;
        height: 216px;
    }
   
}

.milk-container {
    padding-top: 41px;
    width: 114px;
    @include mq(desktop) {
        padding-top: 68px;
        width: 200px;
    }

    &__text {
        font-family: 'DM Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 8px;
        line-height: 1.5;
        
        margin-bottom: 7px;

        color: rgba(255, 255, 255, 1);
    @include mq(desktop) {
        font-size: 14px;
    }
    }

    &__link {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 18px;
        height: 18px;
        background-color: rgba(255, 255, 255, 1);
        border-radius: 50%;
    } 
    &__svg {
        
        fill: rgba(212, 20, 67, 1);


    } 
    
}


.hero__eclipse {
    width: 346px;
    height: 344px;
    border-radius: 50%;
    background-color:rgba(255, 165, 186, 1);
    z-index: 10;
    margin-left: 15px;
    position: relative;
    animation-name: eclips;
    animation-duration: 0.9s;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    @include mq(tablet-only) {
        width: 335px;
        height: 333px;
        margin-left: 0;
    }
    @include mq(desktop) {
        width: 534px;
        height: 534px;
    }
}

.hero__images {
    position: absolute;
    top:0;
    left: 0;
    z-index: 0;

    &--ice {
        top: 9px;
        left: 81px;
        animation-name: ice;
        animation-duration: 0.9s;
        animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        
        @include mq(tablet-only) {
            width: 143px;
            height: 336px;
            top: 37px;
            left: 74px;
        }
        @include mq(desktop) {
            width: 236px;
            height: 557px;
            top: 54px;
            left: 119px;
        }
    }
}

@keyframes eclips {
    0% {
      transform: translateX(100%);
    }
    
    100% {
      transform: translateX(0);
    }
  }

  @keyframes ice {
    0% {
      transform: translateY(100%);
      
    }
    
    100% {
      transform: translateY(0);
      
    }
  }


.store {
    display: none;

    @include mq(tablet-only) {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        position: relative;

        padding-top: 49px;
    }
    @include mq(desktop) {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        position: relative;

        padding-top: 98px;

    }
    &__block {
        width: 43px;
        height: 44px;
        text-align: end;
        position: relative;

        z-index: 1;

        &:nth-child(1) {
            margin-bottom: 16px;
        }

        &::after {
            content: '';
            position: absolute;
            right: -10;
            top: -2;
            width: 16px;
            height: 16px;

            z-index: -1;

            border-radius: 50%;
            background-color:rgba(255, 255, 255, 1);
        }
    }
    &__block--trucks {
        width: 51px;
        height: 43px;
    }
    &__block>span {
        font-family: 'Titan One';
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 1.14;
        text-align: right;
        letter-spacing: 0.04em;
        text-transform: uppercase;

        color: rgba(212, 20, 67, 1);

    }

    &__block>p {
        font-style: normal;
        font-weight: 400;
        font-size: 8px;
        line-height: 10px;
        text-align: right;

        color: rgba(255, 255, 255, 1);


    }
    &__images {
        position: absolute;
        right: 0;
        z-index: 16;
        bottom: -40px;
        width: 190px;
        height: 150px;
    }
}

